@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-outfit: "Outfit", ui-sans-serif, system-ui, sans-serif;
  --font-roboto-mono: "Roboto Mono", ui-monospace, monospace;
  --background: #ffffff;
  --foreground: #171717;
}

html,
body {
  margin: 0;
  padding: 0;
}
